:root {

}

#root {
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  height: 100vh;
  max-width: 1280px;
}

#logo {
  height: 70px;
  grid-area: 1 / 1 / 1 / 13;
  display: flex;
  padding-left: 30px;
  box-sizing: border-box;
}

#logo>h1 {
  font-size: 32px;
  line-height: 70px;
  align-self: center;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  outline: 1px solid white;
}

#logo, #form {
  width: 100%;
  outline: 1px solid white;
}

#sidebar {
  width: 40%;
  min-width: 500px;
}

#form {
  width: 100%;
  height: calc(100vh - 70px);
  min-height: calc(100vh - 70px);
  overflow: auto;
  text-align: left;
}
 
#result {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

textarea {
  height: fit-content;
  resize: none;
  overflow: hidden;
}

h2 {
  padding: 0px;
  margin-top: 20px;
}

.fullWidth>button {
  width: 85%;
}

.fullWidth>* {
  width: 80%;
  margin-left: 30px;
}

.fullWidth:last-of-type {
  padding-bottom: 30px;
}

textarea {
  width: 80%;
}

fieldset {
  outline: none;
  margin-bottom: 30px;
}

fieldset>* {
  width: 100%;
  padding: 0;  
  margin: 0
}
